body
{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 25px;
    margin-top: 200px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.container {
    display: flex;
    justify-content: center;
}

.round_number {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 50px;
}

.players_choices {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.display_computer_choice {
    padding-left: 30px;
    padding-bottom: 50px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.computer_score {
    padding-left: 30px;
}

.reset_game_button {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.rock_icon, .paper_icon, .scissors_icon {
    cursor: pointer;
    transition: transform .2s;
}

.paper_icon, .scissors_icon {
    padding-left: 30px;
}

.scissors_icon:hover {
    transform: scale(1.1); 
}

.paper_icon:hover {
    transform: scale(1.1); 
}

.rock_icon:hover {
    transform: scale(1.1); 
}

