body
{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

.round {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 25px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.rock_icon, .paper_icon, .scissors_icon {
    cursor: pointer;
}